.header { 
    background: url('https://blog-images-1257621236.cos.ap-shanghai.myqcloud.com/home-bk.jpg');
}

.header-inner { position: relative; }

@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
@import "github-banner" if hexo-config('github_banner');
