.post-button {
  margin-top: 20px;
  text-align: left;
}

.post-button .btn {
  color: #222;
  font-size: 14px;
  background: #fff;
  border: 1px solid #555;
  border-radius: 5px;
  line-height: 2;
  margin: 0 4px 8px 4px;
}

.post-button .btn:hover {
  border-color: #222;
  color: #fff;
  background: #999;
}

.post-button .fa-fw {
  width: 1.285714285714286em;
  text-align: left;
}
